.upload-box{
    width: 638px; /* Matches your design */
    height: 192px; /* Adjust this based on your UI */
    border: 1px dashed rgba(0, 0, 0, 0.24); /* Dashed border */
    border-radius: 12px; /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    top: 500px; /* Adjust this number to move up/down */
    transform: translateY(-145%);
}

.upload-text {
    color: rgba(0, 0, 0, 0.24);
    font-size: 14px;
    line-height:48px;
    font-family: "Hero Section Font", sans-serif;
    font-weight: 500;
}
.arrow-icon{
width: 10px;
height: 10px;
margin-right:6px;
}

