.input-form-container{
background-color:#F2F2F2;
width: 638px;
height: 48px;
border-radius: 12px;
display: flex;
align-items: center;
margin-top: 48px;
position: absolute;
top: 540px; /* Adjust this number to move up/down */

transform: translateY(-75%);
}

.job-input-icon {
    margin-right: 10px;
    width: 14px;        
    height: 14px;
    margin-left:20px;
  }

  .job-input {
    border: none;
    outline: none;
    background: transparent;
    width: 638px;
    height: 48px;
    border-radius: 12px;
    transition: background 0.3s ease-in-out;
  } 
  .job-input-text{
    font-size: 14px;
    color: #B5B5B5;
    font-family:"Hero Section Font";
    max-width: 278px;
    max-height: 10px;
  }
  
  * {
    box-sizing: border-box;
}
