.input-form-container{
background-color:#F2F2F2;
width: 638px;
height: 48px;
border-radius: 12px;
display: flex;
align-items: center;
margin-top: 48px;
position: absolute;
top: 540px; /* Adjust this number to move up/down */
transform: translateY(-75%);
}
.error-border {
  border: 1px solid red; /* This applies to the whole JobForm container */
}

.job-input-icon {
    margin-right: 10px;
    width: 14px;        
    height: 14px;
    margin-left:20px;
  }

  .job-input {
    border: none;
    outline: none;
    background: transparent;
    width: 638px;
    height: 48px;
    border-radius: 12px;
    transition: background 0.3s ease-in-out;
  } 
  .job-input:focus {
    color: #0068F4; /* Changes text color when input is focused */
  }

  .invalid-job-link{
    display:block;
    border-radius: 12px;
    background-color: rgba(236, 37, 66, 0.32);
    width: 185px;
    height: 34px;
    align-items: center;
    top: 375px; /* Adjust based on where you want it */
    transform: translateY(0);
    margin:0 auto;
    position: relative;
    display:flex;
    justify-content:center;
  }
  .invalid-job-link-text{
  color: #EC2542;
  font-size: 14px;
  max-width:137px ;
  max-height:10px;
  padding: 0 10px;
  line-height: normal;
  white-space: nowrap;
  }
  .job-input-text{
    font-size: 14px;
    color: #B5B5B5;
    font-family:"Hero Section Font",sans-serif;
    max-width: 278px;
  }
  
  * {
    box-sizing: border-box;
}
